html {
  overflow-y: scroll;
}

body {
  overflow: hidden;
}

.tm-page {
  position: relative;
  z-index: 0;
}

@media (min-width: 1500px) {
  .tm-page-container {
    background-color: #efefef;
  }
  .tm-page-container .tm-page {
    max-width: 1500px;
    background: #fff;
  }
  .tm-page-width {
    max-width: 1500px;
  }
  .tm-page-margin-top {
    margin-top: 70px;
  }
  .tm-page-margin-bottom {
    margin-bottom: 70px;
  }
}

.tm-toolbar {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  position: relative;
}

.tm-toolbar-default {
  background: #262626;
}

.tm-header,
.tm-header-mobile {
  position: relative;
}

.tm-headerbar-top {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}

.tm-headerbar-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}

.tm-headerbar-stacked {
  margin-top: 20px;
}

.tm-header-overlay {
  position: absolute;
  z-index: 980;
  left: 0;
  right: 0;
}

.tm-header-transparent .tm-headerbar-bottom,
.tm-header-transparent .tm-headerbar-top {
  background: 0 0;
}

.tm-header-transparent .tm-headerbar-top {
  border-bottom-color: transparent;
}

.tm-header-mobile-slide {
  z-index: 1020;
}

.tm-grid-expand > * {
  flex-grow: 1;
}
.tm-grid-expand > .uk-width-expand {
  flex-grow: 999;
}
@media (min-width: 640px) {
  .tm-grid-expand > .uk-width-expand\@s {
    flex-grow: 999;
  }
}
@media (min-width: 960px) {
  .tm-grid-expand > .uk-width-expand\@m {
    flex-grow: 999;
  }
}
@media (min-width: 1200px) {
  .tm-grid-expand > .uk-width-expand\@l {
    flex-grow: 999;
  }
}
@media (min-width: 1600px) {
  .tm-grid-expand > .uk-width-expand\@xl {
    flex-grow: 999;
  }
}
