@media (min-width: 960px) {
  .tm-page {
    border: 30px solid transparent;
  }
}
@media (min-width: 1200px) {
  .tm-page {
    border-width: 50px;
  }
}
.tm-page {
  border-top-width: 0;
}

.tm-header :not(.uk-sticky-below) > .uk-navbar-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 960px) {
  #margin-top-140 {
    margin-top: 140px;
  }
}
@media (min-width: 640px) {
  #padding-top-10vw > div {
    padding-top: 10vw !important;
  }
}
@media (min-width: 960px) {
  #margin-top-80 .uk-first-column > .uk-panel {
    margin-top: 80px;
  }
}
@media (min-width: 960px) {
  #padding-top-280 > div {
    padding-top: 280px;
  }
}

// NAVBAR

.uk-navbar-nav {
  & > li {
    position: relative;
    & > a {
      position: relative;
      font-size: 16.5px;
      font-family: $base-heading-font-family;
      line-height: 28.05px;
      text-transform: capitalize;
      letter-spacing: -0.6px;
      padding: 0px 22px;
      transition: all 0.1 ease-in-out;
    }
  }
}

[class*="uk-navbar-dropdown-bottom"] {
  margin-top: 30px !important;
}

// DROPDOWN
.uk-navbar-dropdown {
  background: #000;
  // margin-top: 10px;
  margin: 0;
  margin-top: 20px;
  & > ul {
    & > li {
      & > a {
        color: #b2b2b2;
        font-size: 16.5px;
        line-height: 28.5px;
        letter-spacing: -0.6px;
        font-weight: 400;
        font-family: $base-heading-font-family;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.uk-navbar-right {
  a {
    color: #000;
    font-size: 16.5px;
    font-family: $base-heading-font-family;
    line-height: 28.05px;
    text-transform: capitalize;
    letter-spacing: -0.6px;
    padding: 0px 22px;
    transition: all 0.1 ease-in-out;
  }
}
.uk-navbar-toggle {
  color: #000;
}

// OFFCANVAS
.uk-offcanvas-bar {
  .uk-close {
    color: #000000;
    &:hover {
      color: $global-color;
    }
  }
  .uk-nav-default {
    padding: 0px 15px;
    li {
      a {
        color: $global-color;
        font-size: 16.5px;
        line-height: 28.05px;
        letter-spacing: -0.6px;
        padding: 5px 0px;
        font-family: $global-font-family;
        font-weight: 400;
        &:hover {
          color: #000;
        }
      }
    }
    .uk-nav-sub {
      a {
        color: $global-color;
        &:hover {
          color: #b2b2b2;
        }
      }
    }
  }
}

.uk-slidenav-container {
  background: #fff;
}
.uk-slidenav {
  background: #fff;
  padding: 21px 24px;
  color: #000;
  font-weight: bold;
}
.tm-page {
  position: relative;
  z-index: 0;
}
.uk-margin {
  margin-bottom: 30px;
}
.uk-navbar {
  height: 100px;
}
.uk-text-primary {
  font-size: 16.5px;
  line-height: 23.1px;
  letter-spacing: -0.6px;
  font-weight: 400;
  margin: 0px 0px 30px;
}

.uk-text-meta {
  font-size: 16.5px;
  line-height: 23px;
  letter-spacing: -0.6px;
  font-family: $base-heading-font-family;
  font-weight: 400;
}
.uk-h1 {
  font-size: 37.4px;
  line-height: 44.88px;
  letter-spacing: -1.5px;
  margin: 20px 0px 0px !important;
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 44px;
    line-height: 52.8px;
  }
  .uk-text-primary {
    font-size: 37.4px;
    line-height: 44.88px;
    letter-spacing: -1.5px;
    margin: 20px 0px 0px !important;
    @media screen and (min-width: $breakpoint-medium) {
      font-size: 44px;
      line-height: 52.8px;
    }
  }
}
.uk-h4 {
  font-size: 26px;
  line-height: 36.4px;
  letter-spacing: -0.75px;
}
.uk-h5 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
}
// BUTTON
a.uk-button.uk-button-primary.uk-button-large {
  color: #000;
  background-color: #f3c565;
  text-transform: capitalize;
  font-size: 16.5px;
  line-height: 58px;
  letter-spacing: -0.5px;
  font-family: $base-heading-font-family;
  font-weight: 400;
  border: 2px solid transparent;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 99;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background: #f1bc4d;
    z-index: -1;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    background-color: #f1bc4d;
    color: #000;
    border-color: transparent;
    &::before {
      width: 100%;
      // z-index: -1;
    }
  }
}
footer {
  h2 {
    font-size: 32.3px;
    line-height: 44.99px;
    letter-spacing: -1px;
    @media screen and (min-width: $breakpoint-medium) {
      font-size: 38px;
      line-height: 49.4px;
    }
  }
  .uk-input {
    border: none;
    background-color: transparent !important;
    border-bottom: 1px solid #f5f5f5 !important;
    padding: 0px 50px 0px 10px !important;
    &:focus {
      border-color: $global-primary-background !important;
      outline: none;
    }
  }
  .uk-text-small {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-top: 10px;
  }
  .uk-list > :nth-child(n + 2) {
    margin-top: 0px;
  }
}