// ===========================
//GLOBAL SETTINGS
// ===========================
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Work+Sans:wght@400;500&display=swap');
$global-font-family: "Karla Sans", sans-serif;
$global-font-size: 16.5px;
$base-body-font-weight: 400;
$global-line-height: 1.7;

// ===========================
//COLOR & BACKGROUND
// ===========================
$global-color: rgba(0,0,0,.6);
$global-background: #fff;
// $global-primary-color: #fddf00;
$global-primary-background: #f1bc4d;
// $global-secondary-background: #4da4b0;
// $icon-button-background:red;
// $global-border-width: 200px;
// $global-muted-color: #fddf00;

// ===========================
//LINK
// ===========================
// $global-link-color: $global-primary-background;
// $base-link-hover-color: $global-secondary-background;
$base-link-hover-text-decoration: none;

// ===========================
//BORDER
// ===========================
// $heading-bullet-border: $global-primary-background;
// $global-border: $global-primary-background;

// ===========================
//SELECTION
// ===========================
// $base-selection-color: #212121;
$base-selection-background: rgba(243,197,101,.7);

// ===========================
//HEADING
// ===========================
$base-heading-font-family: "Work Sans", sans-serif;
$base-heading-font-weight: 500;
// $base-heading-color: #4e4b4b;
// $heading-line-width:200px;
// $heading-xlarge-font-size-l: 114px;
// $heading-xlarge-font-size-m: 114px;
// $heading-xlarge-font-size-s: 114px;

// ===========================
//CONTAINER
// ===========================
// $container-large-max-width: 1360px;

// ===========================
//OFFCANVAS
// ===========================
$offcanvas-bar-background: #fff;
$overlay-primary-background: rgba(243,197,101,.8);
$navbar-background: #fff;